
.zodiac {
    display: flex;
    justify-content: center;
    background-image: url(https://i.pinimg.com/564x/29/cc/06/29cc0670039ecfcf49a96ed26e800dde.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 10px double rgb(212, 198, 119);
}
  
.zodiac p {
    display: flex;
    color: rgb(26, 15, 32);
    padding: 5px 5px;
    font-size: 150px;
    font-family: Copperplate, Papyrus, fantasy;
    letter-spacing: 2px; 
    opacity: 0.99;
    font-variant: small-caps;
}
.zodiac p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}

.about p {
display: flex;
font-size: xxx-large;
justify-content: center;
font-family: fantasy;
color: rgb(143, 143, 143);
padding-right: 30px;
letter-spacing: 1px; 
}
.about p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
  
.more{
display: flex;
align-items: center;
padding-bottom: 20px;
}

.more p {
 padding: 30px;
 justify-content: start;
 color: rgb(238, 228, 169);
 text-align: justify;
 font-size: larger;
 line-height: 30px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 letter-spacing: 1px;
}
.more p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.more img::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
#special-Some{
font-size: xxx-large;  
font-family: fantasy;
color: rgb(238, 228, 169);
padding-right: 30px;
padding-top: 30px;
border-top: 10px double rgb(238, 228, 169);
letter-spacing: 1px; 
}
.with-table {
display: flex;
align-items: center;
background-color: rgb(161, 41, 41);
}
.with-table p{
padding: 1px 30px;
color: rgb(26, 15, 32);
text-align: justify;
font-size: larger;
line-height: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 1px; 
padding-bottom: 10px;
}
.with-table p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
#special2-Some {
color: rgb(238, 228, 169);
text-align: justify;
font-size: larger;
line-height: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 1px;
font-weight: bolder;
}
#special3-Some {
padding: 1px 30px;
color: rgb(26, 15, 32);
text-align: justify;
font-size: larger;
line-height: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 1px; 
padding-bottom: 30px;    
border-bottom: 10px double rgb(238, 228, 169);    
}
.with-table table {
font-size: larger;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
border: 2px solid rgb(238, 228, 169);  
width: 800px;
height: 100px;
border-collapse: collapse;
 }

.with-table th, td {
border: 1px solid rgb(238, 228, 169);
text-align: left;
padding: 8px;   
color: rgb(26, 15, 32); 
}
.with-table tr:hover{
background-color:rgb(75, 12, 12);    
}
.with-table td::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.with-table th::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.legends p {
display: flex;
font-size: xxx-large;
justify-content: center;
font-family: fantasy;
color: rgb(143, 143, 143);
letter-spacing: 1px; 
    }
.legends p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.history {
display: flex; 
justify-content: space-evenly;
gap: 20px; 
padding: 20px; 
background-color: rgb(26, 15, 32); 
}
.background h1{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
height: 100px;
color: rgb(26, 15, 32);
}
.background h1::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.history p{
padding: 1px 30px;
color: rgb(26, 15, 32);
font-size: larger;
line-height: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 1px;   
text-align: center;
flex-direction: row-reverse;
}
.history p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.background p {
align-items: flex-end;   
}
.background p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.background{
display: flex;
flex-direction: column;  
width: 300px;
text-align: center;
background-color: rgb(143, 143, 143);     
}

.r {
display:flex;
flex-direction: row; 
padding: 30px; 
align-items: center; 
}
.r p{
padding-left: 30px;
padding-right: 10px;
color: rgb(238, 228, 169);
}
.rs p{
    padding: 1px 30px;
    color: rgb(238, 228, 169);
    text-align: justify;
    font-size: larger;
    Line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;   
}
.rs p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.rs {
background-color: rgb(161, 41, 41);
outline: 10px double rgb(238, 228, 169);
}
.rp{
font-size: 100px;
float: left;
}
.rp svg::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.per{
display: flex;    
flex-direction: row;
align-items: center;
padding: 30px;
}
.pers {
border-right: 10px double rgb(161, 41, 41);    
}
.pers h1{
    font-size: xxx-large;  
    font-family: fantasy;
    color: rgb(161, 41, 41);
    padding-left: 30px;
    padding-top: 30px;  
    letter-spacing: 1px;     
}
.pers h1::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.pers p {
    padding: 1px 30px;
    color: rgb(238, 228, 169);
    text-align: justify;
    font-size: larger;
    Line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px; 
}
.pers p::first-letter{
font-size: xx-large;   
color: rgb(161, 41, 41); 
font-family: fantasy;
}
.pers p::selection {
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.perr{
padding-left: 30px;   
}
.perr p{
    font-size: x-large;  
    font-family: fantasy;
    color: rgb(161, 41, 41);
    padding-right: 30px;  
    letter-spacing: 1px;   
}
.perr p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.perr table {
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
    border: 2px solid rgb(238, 228, 169);
    border-collapse: collapse;
}
.perr th, td {
    border: 1px solid rgb(238, 228, 169);
    text-align: left;
    padding: 8px;    
    color: rgb(238, 228, 169);
    }
.perr tr:hover{
        background-color:rgb(75, 12, 12);    
}    

.perr td::selection{
        color: rgb(143, 143, 143);
        background: rgb(75, 12, 12);    
    }
.perr th::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.person {
    display: flex; 
    justify-content: space-between;
    gap: 20px; 
    padding: 20px; 
    background-color: rgb(26, 15, 32); 
    }
.perso h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 50px;
    color: rgb(26, 15, 32);
    }
.perso h2::selection{
        color: rgb(143, 143, 143);
        background: rgb(75, 12, 12);    
    }    
.person p{
    padding: 1px 30px;
    color: rgb(238, 228, 169);
    font-size: larger;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;   
    text-align: center;
    flex-direction: row-reverse;
    }
.person p::selection{
        color: rgb(143, 143, 143);
        background: rgb(75, 12, 12);    
    }    
.perso li {
    padding: 1px 30px;
    color: rgb(26, 15, 32);
    font-size: larger;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;   
    text-align: left;
} 
.perso li::marker{
    color: rgb(161, 41, 41);
    font-size: 23px;   
}
.perso li::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.perso p {
    align-items: flex-start;  
   }
.perso p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}   
.perso{
    display: flex;
    flex-direction: column;  
    width: 300px;
    text-align: center;
    background-color: rgb(143, 143, 143);     
    }
.persona p{
    padding: 1px 30px;
    color: rgb(238, 228, 169);
    font-size: larger;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
.persona p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.sum p {
font-size: 70px;  
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
padding: 30px;
text-align: center;
padding-top: 80px;
padding-bottom: 80px;
font-weight: bolder;
font-variant: small-caps;
}
.sum {
background-image: url(https://i.pinimg.com/564x/29/cc/06/29cc0670039ecfcf49a96ed26e800dde.jpg);    
}
.sum p::selection{
    color: rgb(143, 143, 143);
    background: rgb(75, 12, 12);    
}
.five {
    display: flex;
    font-size: xxx-large;  
    font-family: fantasy;
    color: rgb(238, 228, 169); 
    letter-spacing: 1px;
    justify-content: center;   
}
.elements{
display: flex;    
flex-direction: row;
justify-content: space-around;
}
.dropdown {
padding-left: 70px;
padding-right: 80px;    
}
  
.dropdown-content {
    display: none;
    background-color: rgb(143, 143, 143);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 20px;
    z-index: 1;
  }
.dropdown-content p{ 
    color: rgb(26, 15, 32);
    font-size: larger;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px; 
} 
.dropdown:hover .dropdown-content {
    display: block;
    justify-content: baseline;
  }
.dropdown span {
    border-radius: 25px;
    background: rgb(161, 41, 41);
}
.earth {
display: flex;    
flex-direction: column;
padding-bottom: 50px;
}
.earth h2{
padding-left: 60px;   
padding-right: 50px; 
letter-spacing: 1px;
color: rgb(238, 228, 169);
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.compatibility {
padding: 30px;
}
.heart span {
position: absolute;
left: 30px;
top: 2400px;
z-index: -1;
width: 20%;
color: rgb(75, 12, 12);
}
.heart{
    font-size: xxx-large;  
    font-family: fantasy
}
.comp h1{
    display: flex;
    justify-content: center;
    font-size: xxx-large;  
    font-family: fantasy;
    color: rgb(161, 41, 41); 
    letter-spacing: 1px;
    justify-content: center;
}
.comp p{
    color: rgb(238, 228, 169);
    font-size: larger;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px; 
    text-align: justify;    
}
.comp h2{
    color: rgb(161, 41, 41);
    font-size: xx-large;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    font-variant: small-caps;     
}
.co{
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}
.co h3{
flex-wrap: nowrap;
}
.compa {
padding: 30px;    
border-left: 10px double rgb(75, 12, 12);   
}
.compa p{
display: flex;
flex-wrap: wrap;
color: rgb(238, 228, 169);
font-size: larger;
line-height: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 1px; 
text-align: justify;
}
.com h3{
    color: rgb(161, 41, 41);
    font-size: x-large;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;    
    font-variant: small-caps;
    width: 150px;
}
.g {
padding: 30px; 
padding-top: 5px;
}
.kw {
background-color: rgb(143, 143, 143);
text-align: center;
}
.kw h2 {
    padding: 30px;
    padding-bottom: 0px; 
}
.gender {
    gap: 20px; 
    padding: 20px; 
    background-color: rgb(26, 15, 32);  
}
.gender h2{
    color: rgb(75, 12, 12);
    font-size: x-large;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;    
    font-variant: small-caps;
}
.gender span{
    border-radius: 25px;
    background: rgb(75, 12, 12);
}
.g-content {
        display: none;
        background-color: rgb(161, 41, 41);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 20px;
        z-index: 1;
}
.g-content p{ 
        color: rgb(238, 228, 169);
        font-size: larger;
        line-height: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        letter-spacing: 1px; 
    } 
.g:hover .g-content {
        display: block;
        justify-content: baseline;
      }
.ove {
    background-color: rgb(75, 12, 12);  
    padding-bottom: 50px;
}
.lucky{
display: flex;  
justify-content: center; 
padding-bottom: 30px; 
padding-top: 50px;
}
.lucky h2{
    display: flex;
    font-size: xxx-large;  
    font-family: fantasy;
    color: rgb(143, 143, 143); 
    letter-spacing: 1px;
    justify-content: center;
}
.u {
display: flex; 
flex-direction: row;  
justify-content: space-evenly;
}
.things li::marker{
    color: rgb(161, 41, 41);
    font-size: 23px;   
}
.things {
    background-color: rgb(143, 143, 143);
    border-radius: 20px;
    padding: 20px;
    width: 40%;
    color:rgb(26, 15, 32);
    font-size: larger;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
.things p{
    display: flex;
    padding-left: 10px;
    align-items: center;
}
.l {
    display: flex;
    flex-direction: row;
}
.out p{
    color: rgb(238, 228, 169);
    font-size: x-large;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;    
    font-variant: small-caps;
}
.out a{
color: rgb(161, 41, 41); 
}
.out a:hover{
    color:rgb(75, 12, 12);
}

.Check P {
    display: flex;
    font-size: xxx-large;  
    font-family: fantasy;
    color: rgb(143, 143, 143); 
    letter-spacing: 1px;
    justify-content: center;
    padding: 30px;
    padding-bottom: 0px;
}
.h {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.h p{
    color: rgb(238, 228, 169);
    font-size: xx-large;
    line-height: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px; 
    padding: 30px;
    font-variant: small-caps;
}
.ho {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horos {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.horosco {
    background-color: rgb(161, 41, 41);
    border-radius: 10px;
    border: 3px solid rgb(238, 228, 169);
}
.horosc {
    background-color: rgb(161, 41, 41); 
    border-radius: 10px;
    border: 3px solid rgb(238, 228, 169);
}
.horoscop {
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgb(26, 15, 32);
}
.horoscop a{
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    text-align: center;
    color: rgb(238, 228, 169);
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}
.horoscop a:hover {
    color: rgb(75, 12, 12);
}
.d {
    display: flex;
    flex-direction: row;
    padding: 30px;
}
.da {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
}
.da h4 {
    text-align: center;
}
.da p{

}
.da h3{

}
.da h1{
    font-size: 200px;
}
.dail h2 {
    font-size: xxx-large;  
    font-family: fantasy;
    color: rgb(143, 143, 143); 
    letter-spacing: 1px;
    justify-content: center;
    padding: 30px;
    padding-bottom: 0px; 
    text-align: center;   
}
.dail p{
color: rgb(238, 228, 169);
font-size: larger;
line-height: 30px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
letter-spacing: 1px; 
text-align: justify;
}
.dail {
    width: 500px;
}